[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
stackapi = "*"
django-constance = "*"
"github3.py" = "*"
django-choice-object = "*"
python-gitlab = "*"

[requires]
python_version = "3.6"
