[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
django-debug-toolbar = "*"

[packages]
django = "==2.2"
stackapi = "*"
django-constance = "*"
"github3.py" = "*"
django-choice-object = "*"
python-gitlab = "*"
libsass = "*"
django-sass-processor = "*"
django-compressor = "*"
rjsmin = "*"
django-crispy-forms = "*"
sparkpost = "*"
"urllib3" = "==1.24.2"
django-jet = "*"
[requires]
python_version = "3.6"
