{% extends 'base.html' %}
{% load projects_extras %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class=""
    <section class="columns">
        {% for project in projects_list %}
            <div class="column">
                <p class="title">{{ project.name }}</p>
                <a href="{{ project.url }}">{{ project.platform|platform_icon }}/{{ project.repo_id }}</a>
                <p>{{ project.description }}</p>
            </div>
        {% endfor %}
    </section>
</div>
{% endblock content %}