{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %} - Pierre-Yves Gillier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% sass_src 'app.scss' %}" rel="stylesheet" type="text/css" />
</head>
<body>

<section class="columns">
    <div class="column is-one-quarter section">
        <header class="has-text-centered">
            <h1 class="title">Pierre-Yves Gillier</h1>
        <h2 class="subtitle">Portfolio</h2>
        </header>

        <aside class="menu">
            <ul class="menu-list">
                <li><a href="{% url 'projects:index' %}"><i class="far fa-folder-open"></i> Projects</a></li>
                <li><a href="#"><i class="far fa-newspaper"></i> Readings</a></li>
                <li><a href="#"><i class="far fa-bookmark"></i> Elsewhere</a></li>
                <li><a href="{% url 'home:contact' %}"><i class="far fa-envelope"></i> Contact</a></li>
            </ul>
        </aside>
    </div>

    <div class="column section">
        {% block content %}Content should go there{% endblock content %}
    </div>
</section>
</body>
</html>